.line > ul {
	display: inline-block;
	list-style-type: none;
	padding:0.5em;
	margin:0;
}

.line > ul > li {
}

.line {

	margin-top:0.5em;
	margin-bottom:0.5em;
	font-size:0.8em;

}
.word {margin-bottom: 0.25em;}
.line-num {height: 100%; vertical-align:top;}

#controls {
	position: fixed;
	left:0em;
	bottom:0em;
	right:0;
	padding-left:1em;
	padding-bottom:1em;
	background-color: white;
	width:100%;
	z-index:10;
	border-top: 2px black solid;

}
#contents {
	position: sticky;
	z-index:2;
	top:0;
	bottom:3em;

	padding-bottom: 4em;
	overflow-y:scroll;
	overflow-x: hidden;
	width:100%;
}
html {
  margin: 0 0;
  height: 100%;
  padding: 2em 10%;
/*  line-height: 1.25; */
  word-break: break-all;
  margin: 0 auto;
}
* {
  box-sizing: border-box;
}


body {
  margin: 0;
}

h1 {

  font-size: 1.75rem;
  string-set: heading content();
  /* page: heading; */
  counter-reset: footnote;
}

h3 {
  /* string-set: heading content(); */
  font-size: 1.25rem;
}

